@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }

  ::selection {
    background-color: #d1fae5;
    color: #065f46;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
